h3 {
  text-align: center;
}

h4 {
  font-size: 24px;
  text-align: left;
}

a {
  text-decoration: none;
  color: cornflowerblue;
  font-family: "Play", sans-serif;
  text-align: center;
}

ul {
  list-style: none;
}

.sec2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 100px;
}

#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}

#media-pic {
  width: 100%;
}

.social {
  display: grid;
  align-content: center;
  text-align: center;
}
